@font-face {
  font-family: 'IBMPlexMono-Light';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/IBMPlexMono-Light.woff2') format('woff2');
}

@font-face {
  font-family: 'PPNeueMachina-PlainMedium';
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url('/fonts/PPNeueMachina-PlainMedium.woff2') format('woff2');
}